@import "tailwindcss";

@layer base {
  :root {
    --color-primary: 30 40 50;
    --color-secondary: 212 175 55;
  }

  body {
    @apply bg-gray-50 text-gray-900 antialiased;
    font-family: 'Inter', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif tracking-tight text-gray-900;
  }
}